@model EditQuestionFormViewModel

<h2>Update Question</h2>

<div class="login-container d-flex justify-content-center align-items-center h-100">
    <div class="login-form bg-white rounded shadow p-4">

        @using (Html.BeginForm("Update", "Question", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.QuestionId)
            <div class="form-group">
                @Html.LabelFor(model => model.QuestionText)
                <br />
                @Html.EditorFor(model => model.QuestionText, new { @class = "form-control border-primary m-3" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Subject)
                <br />
                @Html.EditorFor(model => model.Subject, new { @class = "form-control border-primary m-3" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.InstructorId)
                <br />
                @Html.TextBoxFor(model => model.InstructorId, new { @class = "form-control-sm border-primary", @readonly = "readonly" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CorrectAnswer)
                <br />
                @Html.EditorFor(model => model.CorrectAnswer, new { @class = "form-control border-primary m-3" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Category)
                <br />
                @Html.EditorFor(model => model.Category, new { @class = "form-control border-primary m-3" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Topic)
                <br />
                @Html.EditorFor(model => model.Topic, new { @class = "form-control border-primary m-3" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Level)
                <br />
                @Html.DropDownListFor(model => model.Level, new SelectList(Enum.GetValues(typeof(Level))), new { @class = "form-select" })
            </div>
            <br />
            <input type="submit" value="Update" class="btn btn-warning btn-block" />
            <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
        }
    </div>
</div>
